@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

body{
  background-color: #1b252a;
  color: white;
}

.header{
  text-align: center;
  /*padding-top: 20vh; */
  padding-top: 5%;

}

h1 {
    font-size: 4em;
      /*font-family: 'Rubik Moonrocks', cursive;*/
  font-family: 'Leckerli One', cursive;
}

input {
  color: white;
    border: none;
    background-color: transparent;
    font-size: 2em;
    padding: 2px;
    margin: 2px;
    border-bottom: solid 2px white;
    text-align: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus{
  outline: none;
}

.content{
  text-align: center;
}

.data-item p{
padding: 3px;
background-color: #344752;
whidth:  50px;
}

@media screen and (max-width: 600px){
  body{
    /*margin: 0px;
    padding: 0px;*/
  }
  img{
    width: 30%;
  }
  h1{
    font-size: 2em;
  }
  input{
    font-size: 1em;
    padding: 0px;
    margin: 0px;
  }
}